/* screen - register */

.register {
  background-color: var(--white);
  height: 800px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.register .rectangle-1-Qolay1 {
  background-color: var(--indigo);
  height: 57px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}

.register .line-1-Qolay1 {
  background-color: transparent;
  height: 3px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 1280px;
}

.register .line-2-Qolay1 {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 768px;
  width: 1280px;
}

.register .component-1-1-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1138px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 43px;
}

.register .component-1-1-Qolay1:hover {
  transform: scale(1.1);
}

.register .log-in-RnKWq1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .cuny-zero-Qolay1 {
  background-color: transparent;
  color: var(--baby-powder);
  font-family: var(--font-family-gillsans-regular);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.register .copyright-c-202-ity-of-new-york-Qolay1 {
  background-color: transparent;
  color: #050505;
  font-family: var(--font-family-gillsans-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 776px;
  white-space: nowrap;
  width: auto;
}

.register .text-field-fill-leading-custom-Qolay1 {
  background-color: transparent;
  border-radius: 13px;
  height: 59px;
  left: 536px;
  position: absolute;
  top: 0px;
  width: 207px;
}

.register .component-1-3-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 193px;
  pointer-events: auto;
  position: absolute;
  top: 19px;
  transition: all 0.2s ease;
  width: 48px;
}

.register .component-1-3-Qolay1:hover {
  transform: scale(1.1);
}

.register .home-NHTTYG {
  background-color: transparent;
  color: var(--baby-powder);
  font-family: var(--font-family-gillsans-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .component-1-4-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 259px;
  pointer-events: auto;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 40px;
}

.register .component-1-4-Qolay1:hover {
  transform: scale(1.1);
}

.register .about-EYo7Dl {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .component-1-5-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 320px;
  pointer-events: auto;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 51px;
}

.register .component-1-5-Qolay1:hover {
  transform: scale(1.1);
}

.register .contact-STZxou {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .city-university-graduate-school-Qolay1 {
  background-color: transparent;
  color: var(--black-3);
  font-family: var(--font-family-gillsans-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 83px;
  white-space: nowrap;
  width: auto;
}

.register .line-3-Qolay1 {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 326px;
  width: 1280px;
}

.register .widget-wrapper-Qolay1 {
  background-color: transparent;
  height: 189px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 185px;
  width: 1280px;
}

.register .cuny-hffU03 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.register .group-10-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 530px;
  pointer-events: auto;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 69px;
}

.register .group-10-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .rectangle-47-v2M3x8 {
  background-color: var(--indigo);
  border-radius: 100px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.register .rectangle-47-v2M3x8:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.register .component-1-6-v2M3x8 {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 8px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 17px);
}

.register .enroll-XOIk4b {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .group-8-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 619px;
  pointer-events: auto;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 212px;
}

.register .group-8-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .rectangle-48-Elo4lg {
  background-color: var(--indigo);
  border-radius: 100px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .component-1-7-Elo4lg {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 9px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 21px);
}

.register .apply-for-graduation-a9Lo4D {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .rectangle-2-Qolay1 {
  background-color: var(--white);
  height: 36px;
  left: 1131px;
  position: absolute;
  top: 729px;
  width: 149px;
}

.register .icon-awesome-facebook-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 1146px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 738px;
  transition: all 0.2s ease;
  width: 25px;
}

.register .icon-awesome-facebook-Qolay1:hover {
  transform: scale(0.9); 
}

.register .icon-awesome-instagram-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1176px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 736px;
  transition: all 0.2s ease;
  width: 24px;
}

.register .icon-awesome-instagram-Qolay1:hover {
  transform: scale(0.9); 
}

.register .icon-awesome-linkedin-in-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 1205px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 738px;
  transition: all 0.2s ease;
  width: 24px;
}

.register .icon-awesome-linkedin-in-Qolay1:hover {
  transform: scale(0.9); 
}

.register .icon-awesome-twitter-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 1235px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 740px;
  transition: all 0.2s ease;
  width: 24px;
}

.register .icon-awesome-twitter-Qolay1:hover {
  transform: scale(0.9); 
}

.register .component-1-10-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1200px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 52px;
}

.register .component-1-10-Qolay1:hover {
  transform: scale(1.1);
}

.register .register-maRCSu {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .rectangle-3-Qolay1 {
  background-color: var(--indigo);
  border: 1px solid var(--black-3);
  border-radius: 12px;
  height: 281px;
  left: 1063px;
  position: absolute;
  top: 400px;
  width: 184px;
}

.register .group-1-Qolay1 {
  background-color: transparent;
  height: 148px;
  left: 1068px;
  position: absolute;
  top: 406px;
  width: 175px;
}

.register .rectangle-4-IjiNR4 {
  background-color: #e6e6e6;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .november-2021-IjiNR4 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  right: calc(48.95% - 39px);
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 80px;
}

.register .path-1-IjiNR4 {
  background-color: transparent;
  height: 9px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 5px;
}

.register .path-2-IjiNR4 {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 5px;
}

.register .rectangle-5-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  left: 0px;
  position: absolute;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .m-IjiNR4 {
  background-color: transparent;
  height: 12px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 10px;
}

.register .rectangle-6-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  left: 25px;
  position: absolute;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .t-IjiNR4 {
  background-color: transparent;
  height: 12px;
  left: calc(20.66% - 2px);
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-7-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .w-IjiNR4 {
  background-color: transparent;
  height: 12px;
  left: calc(35.45% - 4px);
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 10px;
}

.register .rectangle-8-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .t-AAEhJh {
  background-color: transparent;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  right: calc(49.40% - 4px);
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-9-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .f-IjiNR4 {
  background-color: transparent;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  right: calc(34.43% - 3px);
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-10-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  position: absolute;
  right: 25px;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .s-IjiNR4 {
  background-color: transparent;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  right: calc(19.46% - 2px);
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-11-IjiNR4 {
  background-color: var(--cararra);
  height: 25px;
  position: absolute;
  right: 0px;
  top: calc(20.10% - 5px);
  width: 25px;
}

.register .s-AAEhJh {
  background-color: transparent;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  right: 8px;
  text-align: center;
  top: calc(20.66% - 2px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-12-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x1-IjiNR4 {
  background-color: transparent;
  height: 13px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-13-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: 25px;
  position: absolute;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x2-IjiNR4 {
  background-color: transparent;
  height: 13px;
  left: calc(20.66% - 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-14-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x3-IjiNR4 {
  background-color: transparent;
  height: 13px;
  left: calc(35.63% - 3px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-15-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x4-IjiNR4 {
  background-color: transparent;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.40% - 4px);
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-16-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x5-IjiNR4 {
  background-color: transparent;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(34.43% - 3px);
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-17-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: 25px;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x6-IjiNR4 {
  background-color: transparent;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(19.46% - 2px);
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-18-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 8px);
  width: 25px;
}

.register .x7-IjiNR4 {
  background-color: transparent;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 8px;
  text-align: center;
  top: calc(35.64% - 5px);
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-19-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x8-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-20-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: 25px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x9-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  left: calc(20.66% - 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-21-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x10-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  left: calc(35.09% - 5px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-22-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x11-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.39% - 6px);
  text-align: center;
  white-space: nowrap;
  width: 12px;
}

.register .rectangle-23-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x12-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(33.85% - 5px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-24-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: 25px;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x13-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(18.32% - 3px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-25-IjiNR4 {
  background-color: var(--concrete);
  height: 25px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 12px);
  width: 25px;
}

.register .x14-IjiNR4 {
  background-color: transparent;
  bottom: calc(48.88% - 6px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 4px;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-26-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  left: 0px;
  position: absolute;
  width: 25px;
}

.register .x15-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-27-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  left: 25px;
  position: absolute;
  width: 25px;
}

.register .x16-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  left: calc(19.57% - 3px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-28-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  width: 25px;
}

.register .x17-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  left: calc(35.09% - 5px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-29-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  width: 25px;
}

.register .x18-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.38% - 7px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-30-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  width: 25px;
}

.register .x19-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(33.85% - 5px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-31-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  position: absolute;
  right: 25px;
  width: 25px;
}

.register .x20-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(18.32% - 3px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-32-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(33.33% - 8px);
  height: 25px;
  position: absolute;
  right: 0px;
  width: 25px;
}

.register .x21-IjiNR4 {
  background-color: transparent;
  bottom: calc(33.41% - 4px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 4px;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-33-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  left: 0px;
  position: absolute;
  width: 25px;
}

.register .x22-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-34-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  left: 25px;
  position: absolute;
  width: 25px;
}

.register .x23-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  left: calc(19.57% - 3px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-35-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  width: 25px;
}

.register .x24-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  left: calc(35.09% - 5px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-36-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  width: 25px;
}

.register .x25-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.38% - 7px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-37-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  width: 25px;
}

.register .x26-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(33.85% - 5px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-38-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  position: absolute;
  right: 25px;
  width: 25px;
}

.register .x27-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(18.32% - 3px);
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-39-IjiNR4 {
  background-color: var(--concrete);
  bottom: calc(20.10% - 5px);
  height: 25px;
  position: absolute;
  right: 0px;
  width: 25px;
}

.register .x28-IjiNR4 {
  background-color: transparent;
  bottom: calc(17.94% - 2px);
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 4px;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-40-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  left: 0px;
  position: absolute;
  width: 25px;
}

.register .x29-IjiNR4 {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-41-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  left: 25px;
  position: absolute;
  width: 25px;
}

.register .x30-IjiNR4 {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  left: calc(19.57% - 3px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 14px;
}

.register .rectangle-42-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  left: calc(33.33% - 8px);
  position: absolute;
  width: 25px;
}

.register .x1-AAEhJh {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  left: calc(35.63% - 3px);
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-43-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  left: calc(50.00% - 12px);
  position: absolute;
  width: 25px;
}

.register .x2-AAEhJh {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(49.40% - 4px);
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-44-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  position: absolute;
  right: calc(33.33% - 8px);
  width: 25px;
}

.register .x3-AAEhJh {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(34.43% - 3px);
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-45-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  position: absolute;
  right: 25px;
  width: 25px;
}

.register .x4-AAEhJh {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: calc(19.46% - 2px);
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .rectangle-46-IjiNR4 {
  background-color: var(--concrete);
  bottom: 0px;
  height: 25px;
  position: absolute;
  right: 0px;
  width: 25px;
}

.register .x5-AAEhJh {
  background-color: transparent;
  bottom: 4px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 8px;
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.register .group-5-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 1116px;
  pointer-events: auto;
  position: absolute;
  top: 566px;
  transition: all 0.2s ease;
  width: 70px;
}

.register .group-5-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .rectangle-50-6cvidr {
  background-color: var(--white);
  border-radius: 100px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .honors-6cvidr {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 3px);
  left: 10px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: 49px;
}

.register .group-7-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 1116px;
  pointer-events: auto;
  position: absolute;
  top: 644px;
  transition: all 0.2s ease;
  width: 70px;
}

.register .group-7-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .group-4-B4LbDe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .rectangle-52-TXuyEE {
  background-color: var(--white);
  border-radius: 100px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.register .report-B4LbDe {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: calc(44.00% - 20px);
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 45px;
}

.register .group-6-Qolay1 {
  background-color: transparent;
  height: 22px;
  left: 1116px;
  position: absolute;
  top: 605px;
  width: 72px;
}

.register .group-11-gBK8AC {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.register .group-11-gBK8AC:hover {
  transform: translate(0, -5px);
}

.register .rectangle-51-q8QYm6 {
  background-color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.register .rectangle-51-q8QYm6:hover {
  transform: translate(0, -5px);
}

.register .reviews-q8QYm6 {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(47.62% - 24px);
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.register .group-9-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 1068px;
  pointer-events: auto;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 196px;
}

.register .group-9-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .rectangle-48-4Ec5HK {
  background-color: var(--indigo);
  border-radius: 100px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .component-1-11-4Ec5HK {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 3px);
  left: 10px;
  position: absolute;
  top: 0px;
  width: 155px;
}

.register .search-for-classes-q9yoSA {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-gillsans-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .the-city-colleg-031p-2126507000-Qolay1 {
  background-color: transparent;
  height: auto;
  left: 493px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 715px;
  white-space: nowrap;
  width: auto;
}

.register .ccnylogo-Qolay1 {
  background-color: transparent;
  height: 58px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 709px;
  width: 58px;
}

.register .the-city-college-of-new-york-Qolay1 {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-gillsans-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 801px;
  letter-spacing: 0.00px;
  line-height: 37px;
  position: absolute;
  text-align: left;
  top: 81px;
  white-space: nowrap;
  width: auto;
}

.register .city-college-np-ush-left-city1-Qolay1 {
  background-color: transparent;
  height: 80px;
  left: 716px;
  object-fit: cover;
  position: absolute;
  top: 57px;
  width: 80px;
}

.register .group-12-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 846px;
  pointer-events: auto;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 207px;
}

.register .group-12-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .rectangle-48-gO2xZu {
  background-color: var(--indigo);
  border-radius: 100px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.register .component-1-12-gO2xZu {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 16px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 42px);
}

.register .request-transcript-lOhh3x {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.register .text-field-fill-osition-primary-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 36px;
  position: absolute;
  top: 387px;
  width: 207px;
}

.register .text-field-fill-osition-primary-SVfk6o {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 290px;
  position: absolute;
  top: 387px;
  width: 207px;
}

.register .text-field-fill-osition-primary-8KUxSO {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 544px;
  position: absolute;
  top: 387px;
  width: 207px;
}

.register .text-field-fill-ed-none-primary-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 36px;
  position: absolute;
  top: 470px;
  width: 207px;
}

.register .text-field-fill-osition-primary-2Fyk8H {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 290px;
  position: absolute;
  top: 470px;
  width: 207px;
}

.register .text-field-fill-osition-primary-wcwcUJ {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 798px;
  position: absolute;
  top: 387px;
  width: 207px;
}

.register .button-raised-r-disabled-theme-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 473px;
  position: absolute;
  top: 650px;
  width: 114px;
}

.register .text-field-fill-osition-primary-3A2V4k {
  background-color: transparent;
  height: 59px;
  left: 544px;
  position: absolute;
  top: 470px;
  width: 207px;
}

.register .text-field-fill-osition-primary-jqsT3h {
  background-color: transparent;
  height: 59px;
  left: 798px;
  position: absolute;
  top: 471px;
  width: 207px;
}

.register .text-field-fill-osition-primary-XjBAl1 {
  background-color: transparent;
  height: 59px;
  left: 36px;
  position: absolute;
  top: 554px;
  width: 207px;
}

.register .text-field-fill-osition-primary-Llirrn {
  background-color: transparent;
  height: 59px;
  left: 290px;
  position: absolute;
  top: 554px;
  width: 207px;
}

.register .text-field-fill-osition-primary-V7NQ2Z {
  background-color: transparent;
  height: 59px;
  left: 544px;
  position: absolute;
  top: 554px;
  width: 207px;
}

.register .already-have-an-account-Qolay1 {
  background-color: transparent;
  height: auto;
  left: 593px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 658px;
  width: 172px;
}

.register .component-1-13-Qolay1 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 755px;
  pointer-events: auto;
  position: absolute;
  top: 658px;
  transition: all 0.2s ease;
  width: 49px;
}

.register .component-1-13-Qolay1:hover {
  transform: translate(0, -5px);
}

.register .log-in-oXi0Mr {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-gillsans-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.text-field-fill-leading-custom-Qolay1 .mdc-text-field {
  --mdc-theme-primary: #FFFFFF;
}

.text-field-fill-leading-custom-Qolay1 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6200ee;
}

.text-field-fill-osition-primary-Qolay1 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-SVfk6o .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-8KUxSO .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-ed-none-primary-Qolay1 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-2Fyk8H .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-wcwcUJ .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.button-raised-r-disabled-theme-Qolay1 {
  height: auto !important;
  width: auto !important;
}

.button-raised-r-disabled-theme-Qolay1 .mdc-button {
  --mdc-theme-primary: #546CD0;
}

.text-field-fill-osition-primary-3A2V4k .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-jqsT3h .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-XjBAl1 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-Llirrn .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.text-field-fill-osition-primary-V7NQ2Z .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
