/* screen - about */

.about {
    background-color: var(--white);
    height: 800px;
    overflow: hidden;
    position: relative;
    width: 1280px;
  }
  
  .about .overlap-group2 {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .about .rectangle-1 {
    background-color: var(--indigo);
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .about .component-1-44 {
    cursor: pointer;
    height: 17px;
    left: 1138px;
    position: absolute;
    top: 24px;
    transition: all 0.2s ease;
    width: 43px;
  }
  
  .about .component-1-44:hover {
    transform: scale(1.1);
  }
  
  .about .log-in {
    left: 0;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .about .cuny-zero {
    left: 24px;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .about .text-field-fill-leading-custom {
    border-radius: 13px;
    height: 59px;
    left: 536px;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .about .component-1-45 {
    cursor: pointer;
    height: 21px;
    left: 193px;
    position: absolute;
    top: 19px;
    transition: all 0.2s ease;
    width: 48px;
  }
  
  .about .component-1-45:hover {
    transform: scale(1.1);
  }
  
  .about .place {
    left: 0;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
  }
  
  .about .component-1-46 {
    cursor: pointer;
    height: 17px;
    left: 259px;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 40px;
  }
  
  .about .component-1-46:hover {
    transform: scale(1.1);
  }
  
  .about .about-1 {
    left: 0;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .about .component-1-47 {
    cursor: pointer;
    height: 17px;
    left: 320px;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 51px;
  }
  
  .about .component-1-47:hover {
    transform: scale(1.1);
  }
  
  .about .place-1 {
    left: 0;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .about .component-1-48 {
    cursor: pointer;
    height: 17px;
    left: 1200px;
    position: absolute;
    top: 24px;
    transition: all 0.2s ease;
    width: 52px;
  }
  
  .about .component-1-48:hover {
    transform: scale(1.1);
  }
  
  .about .place-2 {
    left: 0;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .about .line-1 {
    height: 3px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 183px;
    width: 1280px;
  }
  
  .about .overlap-group6 {
    height: 60px;
    left: 0;
    position: absolute;
    top: 709px;
    width: 1280px;
  }
  
  .about .overlap-group4 {
    height: 54px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 1280px;
  }
  
  .about .line-2 {
    height: 2px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 52px;
    width: 1280px;
  }
  
  .about .address {
    left: 492px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .about .icon-awesome-container {
    background-color: var(--white);
    height: 36px;
    left: 1130px;
    position: absolute;
    top: 20px;
    width: 149px;
  }
  
  .about .icon-awesome-facebook {
    cursor: pointer;
    height: 23px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    transition: all 0.2s ease;
    width: 25px;
  }
  
  .about .icon-awesome-facebook:hover {
    transform: scale(0.9); 
  }
  
  .about .icon-awesome-instagram {
    cursor: pointer;
    height: 26px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .about .icon-awesome-instagram:hover {
    transform: scale(0.9); 
  }
  
  .about .icon-awesome-linkedin-in {
    cursor: pointer;
    height: 22px;
    left: 74px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .about .icon-awesome-linkedin-in:hover {
    transform: scale(0.9); 
  }
  
  .about .icon-awesome-twitter {
    cursor: pointer;
    height: 19px;
    left: 104px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .about .icon-awesome-twitter:hover {
    transform: scale(0.9); 
  }
  
  .about .ccnylogo {
    height: 58px;
    left: 430px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 58px;
  }
  
  .about .text-1 {
    left: 8px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 776px;
    white-space: nowrap;
  }
  
  .about .text-2 {
    left: 24px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 83px;
    white-space: nowrap;
  }
  
  .about .text-3 {
    left: 903px;
    letter-spacing: 0;
    line-height: 37px;
    position: absolute;
    text-align: center;
    top: 82px;
    white-space: nowrap;
  }
  
  .about .city-college-np-ush-left-city1 {
    height: 95px;
    left: 795px;
    object-fit: cover;
    position: absolute;
    top: 67px;
    width: 95px;
  }
  
  .about .overlap-group3 {
    background-color: var(--indigo);
    border-radius: 13px;
    height: 270px;
    left: 1099px;
    position: absolute;
    top: 301px;
    width: 161px;
  }
  
  .about .enroll {
    cursor: pointer;
    left: 10px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 16px;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .about .enroll:hover {
    color: #F55353
  }
  
  .about .overlap-group5 {
    height: 133px;
    left: 11px;
    position: absolute;
    top: 54px;
    width: 135px;
  }
  
  .about .searchfor-classes {
    cursor: pointer;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .about .searchfor-classes:hover {
    color: #F55353
  }
  
  .about .text-4 {
    cursor: pointer;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 70px;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .about .text-4:hover {
    color: #F55353
  }
  
  .about .requesttranscript {
    cursor: pointer;
    left: 10px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 190px;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .about .requesttranscript:hover {
    color: #F55353
  }
  
  .about .overlap-group1 {
    height: 451px;
    left: 11px;
    position: absolute;
    top: 237px;
    width: 1068px;
  }
  
  .about .rectangle-58 {
    background-color: var(--white);
    height: 233px;
    left: 163px;
    position: absolute;
    top: 218px;
    width: 766px;
  }
  
  .about .rectangle-57 {
    background-color: #dedede;
    border-radius: 10px;
    height: 218px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1068px;
  }
  
  .about .the-city-college-mas {
    color: var(--black-2);
    font-family: var(--font-family-gillsans-regular);
    font-size: var(--font-size-s);
    font-weight: 400;
    height: 220px;
    left: 14px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 1045px;
  }
  
  .about .name {
    cursor: pointer;
    height: 32px;
    left: 147px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 229px;
    transition: all 0.2s ease;
    width: 759px;
  }
  
  .about .name:hover {
    color: #0C51F9
  }
  
  .about .name-1 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 254px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .name-1:hover {
    color: #0C51F9
  }
  
  .about .text-5 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 277px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .text-5:hover {
    color: #0C51F9
  }
  
  .about .text-6 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 302px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .text-6:hover {
    color: #0C51F9
  }
  
  .about .text-7 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 325px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .text-7:hover {
    color: #0C51F9
  }
  
  .about .division-of-science {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 350px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .division-of-science:hover {
    color: #0C51F9
  }
  
  .about .text-8 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 373px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .text-8:hover {
    color: #0C51F9
  }
  
  .about .school-of-education {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 398px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .school-of-education:hover {
    color: #0C51F9
  }
  
  .about .text-9 {
    cursor: pointer;
    left: 80px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 421px;
    transition: all 0.2s ease;
    width: 894px;
  }
  
  .about .text-9:hover {
    color: #0C51F9
  }
  
  .about .graduate-overview {
    color: var(--black-2);
    font-family: var(--font-family-gillsans-regular);
    font-size: 34px;
    font-weight: 400;
    left: -30px;
    letter-spacing: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 196px;
    width: 359px;
  }
  
  .text-field-fill-leading-custom .mdc-text-field {
    --mdc-theme-primary: #FFFFFF;
  }
  
  .text-field-fill-leading-custom .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6200ee;
  }
  