/* screen - login */

.login {
    background-color: var(--white);
    height: 800px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1280px;
  }
  
  .login .rectangle-1-b8DrbD {
    background-color: var(--indigo);
    height: 57px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1280px;
  }
  
  .login .line-1-b8DrbD {
    background-color: transparent;
    height: 3px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 183px;
    width: 1280px;
  }
  
  .login .line-2-b8DrbD {
    background-color: transparent;
    height: 2px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 768px;
    width: 1280px;
  }
  
  .login .cuny-zero-b8DrbD {
    background-color: transparent;
    height: auto;
    left: 24px;
    letter-spacing: 0.00px;
    line-height: 27px;
    position: absolute;
    text-align: left;
    top: 16px;
    white-space: nowrap;
    width: auto;
  }
  
  .login .copyright-c-202-ity-of-new-york-b8DrbD {
    background-color: transparent;
    height: auto;
    left: 8px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    top: 776px;
    white-space: nowrap;
    width: auto;
  }
  
  .login .text-field-fill-leading-custom-b8DrbD {
    background-color: transparent;
    border-radius: 13px;
    height: 59px;
    left: 536px;
    position: absolute;
    top: 0px;
    width: 207px;
  }
  
  .login .component-1-23-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 21px;
    left: 193px;
    pointer-events: auto;
    position: absolute;
    top: 19px;
    transition: all 0.2s ease;
    width: 48px;
  }
  
  .login .component-1-23-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .home-hEA7Lx {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .component-1-24-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 259px;
    pointer-events: auto;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 40px;
  }
  
  .login .component-1-24-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .about-emu41z {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .component-1-25-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 320px;
    pointer-events: auto;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 51px;
  }
  
  .login .component-1-25-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .contact-GXmMeT {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .city-university-graduate-school-b8DrbD {
    background-color: transparent;
    height: auto;
    left: 24px;
    letter-spacing: 0.00px;
    line-height: 36px;
    position: absolute;
    text-align: left;
    top: 83px;
    white-space: nowrap;
    width: auto;
  }
  
  .login .line-3-b8DrbD {
    background-color: transparent;
    height: 2px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 326px;
    width: 1280px;
  }
  
  .login .widget-wrapper-b8DrbD {
    background-color: transparent;
    height: 189px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 185px;
    width: 1280px;
  }
  
  .login .cuny-TQOkgU {
    background-color: transparent;
    object-fit: cover;
    width: 100%;
  }
  
  .login .group-10-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 28px;
    left: 530px;
    pointer-events: auto;
    position: absolute;
    top: 149px;
    transition: all 0.2s ease;
    width: 69px;
  }
  
  .login .group-10-b8DrbD:hover {
    transform: translate(0, -5px);
  }
  
  .login .rectangle-47-AnuSU4 {
    background-color: var(--indigo);
    border-radius: 100px;
    cursor: pointer;
    height: 100%;
    left: 0px;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 100%;
  }
  
  .login .rectangle-47-AnuSU4:hover {
    transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
  }
  
  .login .component-1-26-AnuSU4 {
    background-color: transparent;
    height: calc(100.00% - 3px);
    left: 8px;
    position: absolute;
    top: 1px;
    width: calc(100.00% - 17px);
  }
  
  .login .enroll-CiJQYf {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .group-8-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 27px;
    left: 619px;
    pointer-events: auto;
    position: absolute;
    top: 149px;
    transition: all 0.2s ease;
    width: 212px;
  }
  
  .login .group-8-b8DrbD:hover {
    transform: translate(0, -5px);
  }
  
  .login .rectangle-48-fvlry8 {
    background-color: var(--indigo);
    border-radius: 100px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .login .component-1-27-fvlry8 {
    background-color: transparent;
    cursor: pointer;
    height: calc(100.00% - 2px);
    left: 9px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 21px);
  }
  
  .login .apply-for-graduation-KZx8gV {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .rectangle-2-b8DrbD {
    background-color: var(--white);
    height: 36px;
    left: 1131px;
    position: absolute;
    top: 729px;
    width: 149px;
  }
  
  .login .icon-awesome-facebook-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 23px;
    left: 1146px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 738px;
    transition: all 0.2s ease;
    width: 25px;
  }
  
  .login .icon-awesome-facebook-b8DrbD:hover {
    transform: scale(0.9); 
  }
  
  .login .icon-awesome-instagram-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 26px;
    left: 1176px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 736px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .login .icon-awesome-instagram-b8DrbD:hover {
    transform: scale(0.9); 
  }
  
  .login .icon-awesome-linkedin-in-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 22px;
    left: 1205px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 738px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .login .icon-awesome-linkedin-in-b8DrbD:hover {
    transform: scale(0.9); 
  }
  
  .login .icon-awesome-twitter-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 19px;
    left: 1235px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 740px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .login .icon-awesome-twitter-b8DrbD:hover {
    transform: scale(0.9); 
  }
  
  .login .component-1-28-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 4px;
    left: 1224px;
    pointer-events: auto;
    position: absolute;
    top: 35px;
    transition: all 0.2s ease;
    width: 5px;
  }
  
  .login .component-1-28-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .group-9-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 27px;
    left: 1068px;
    pointer-events: auto;
    position: absolute;
    top: 149px;
    transition: all 0.2s ease;
    width: 196px;
  }
  
  .login .group-9-b8DrbD:hover {
    transform: translate(0, -5px);
  }
  
  .login .rectangle-48-pYJsnH {
    background-color: var(--indigo);
    border-radius: 100px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .login .component-1-29-pYJsnH {
    background-color: transparent;
    cursor: pointer;
    height: calc(100.00% - 3px);
    left: 10px;
    position: absolute;
    top: 0px;
    width: 155px;
  }
  
  .login .search-for-classes-PAIU6d {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 21px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .the-city-colleg-031p-2126507000-b8DrbD {
    background-color: transparent;
    height: auto;
    left: 493px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 715px;
    white-space: nowrap;
    width: auto;
  }
  
  .login .ccnylogo-b8DrbD {
    background-color: transparent;
    height: 58px;
    left: 430px;
    object-fit: cover;
    position: absolute;
    top: 709px;
    width: 58px;
  }
  
  .login .the-city-college-of-new-york-b8DrbD {
    background-color: transparent;
    height: auto;
    left: 801px;
    letter-spacing: 0.00px;
    line-height: 37px;
    position: absolute;
    text-align: left;
    top: 81px;
    white-space: nowrap;
    width: auto;
  }
  
  .login .city-college-np-ush-left-city1-b8DrbD {
    background-color: transparent;
    height: 80px;
    left: 716px;
    object-fit: cover;
    position: absolute;
    top: 57px;
    width: 80px;
  }
  
  .login .group-12-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 27px;
    left: 846px;
    pointer-events: auto;
    position: absolute;
    top: 149px;
    transition: all 0.2s ease;
    width: 207px;
  }
  
  .login .group-12-b8DrbD:hover {
    transform: translate(0, -5px);
  }
  
  .login .rectangle-48-rPKOnP {
    background-color: var(--indigo);
    border-radius: 100px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .login .component-1-30-rPKOnP {
    background-color: transparent;
    cursor: pointer;
    height: calc(100.00% - 2px);
    left: 16px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 42px);
  }
  
  .login .request-transcript-RbQQgW {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 22px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .component-1-31-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 1139px;
    pointer-events: auto;
    position: absolute;
    top: 24px;
    transition: all 0.2s ease;
    width: 43px;
  }
  
  .login .component-1-31-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .log-in-6Y06AL {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .login .component-1-37-b8DrbD {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 1201px;
    pointer-events: auto;
    position: absolute;
    top: 23px;
    transition: all 0.2s ease;
    width: 50px;
  }
  
  .login .component-1-37-b8DrbD:hover {
    transform: scale(1.1);
  }
  
  .login .register-KJxxHA {
    background-color: transparent;
    height: calc(100.00% + 1px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .text-field-fill-leading-custom-b8DrbD .mdc-text-field {
    --mdc-theme-primary: #FFFFFF;
  }
  
  .text-field-fill-leading-custom-b8DrbD .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6200ee;
  }
  