/* screen - register */

.register {
    background-color: var(--white);
    height: 800px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1280px;
  }
  
  .register .rectangle-1-Qolay1 {
    background-color: var(--indigo);
    height: 57px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1280px;
  }
  
  .register .line-1-Qolay1 {
    background-color: transparent;
    height: 3px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 183px;
    width: 1280px;
  }
  
  .register .line-2-Qolay1 {
    background-color: transparent;
    height: 2px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 768px;
    width: 1280px;
  }
  
  .register .component-1-1-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 1138px;
    pointer-events: auto;
    position: absolute;
    top: 24px;
    transition: all 0.2s ease;
    width: 43px;
  }
  
  .register .component-1-1-Qolay1:hover {
    transform: scale(1.1);
  }
  
  .register .log-in-RnKWq1 {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .register .cuny-zero-Qolay1 {
    background-color: transparent;
    height: auto;
    left: 24px;
    letter-spacing: 0.00px;
    line-height: 27px;
    position: absolute;
    text-align: left;
    top: 16px;
    white-space: nowrap;
    width: auto;
  }
  
  .register .copyright-c-202-ity-of-new-york-Qolay1 {
    background-color: transparent;
    height: auto;
    left: 8px;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    top: 776px;
    white-space: nowrap;
    width: auto;
  }
  
  .register .text-field-fill-leading-custom-Qolay1 {
    background-color: transparent;
    border-radius: 13px;
    height: 59px;
    left: 536px;
    position: absolute;
    top: 0px;
    width: 207px;
  }
  
  .register .component-1-3-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 21px;
    left: 193px;
    pointer-events: auto;
    position: absolute;
    top: 19px;
    transition: all 0.2s ease;
    width: 48px;
  }
  
  .register .component-1-3-Qolay1:hover {
    transform: scale(1.1);
  }
  
  .register .home-NHTTYG {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: left;
    top: 2px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .register .component-1-4-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 259px;
    pointer-events: auto;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 40px;
  }
  
  .register .component-1-4-Qolay1:hover {
    transform: scale(1.1);
  }
  
  .register .about-EYo7Dl {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .register .component-1-5-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 320px;
    pointer-events: auto;
    position: absolute;
    top: 22px;
    transition: all 0.2s ease;
    width: 51px;
  }
  
  .register .component-1-5-Qolay1:hover {
    transform: scale(1.1);
  }
  
  .register .contact-STZxou {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .register .city-university-graduate-school-Qolay1 {
    background-color: transparent;
    height: auto;
    left: 24px;
    letter-spacing: 0.00px;
    line-height: 36px;
    position: absolute;
    text-align: left;
    top: 83px;
    white-space: nowrap;
    width: auto;
  }
  
  .register .rectangle-2-Qolay1 {
    background-color: var(--white);
    height: 36px;
    left: 1131px;
    position: absolute;
    top: 729px;
    width: 149px;
  }
  
  .register .icon-awesome-facebook-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 23px;
    left: 1146px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 738px;
    transition: all 0.2s ease;
    width: 25px;
  }
  
  .register .icon-awesome-facebook-Qolay1:hover {
    transform: scale(0.9); 
  }
  
  .register .icon-awesome-instagram-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 26px;
    left: 1176px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 736px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .register .icon-awesome-instagram-Qolay1:hover {
    transform: scale(0.9); 
  }
  
  .register .icon-awesome-linkedin-in-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 22px;
    left: 1205px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 738px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .register .icon-awesome-linkedin-in-Qolay1:hover {
    transform: scale(0.9); 
  }
  
  .register .icon-awesome-twitter-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 19px;
    left: 1235px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 740px;
    transition: all 0.2s ease;
    width: 24px;
  }
  
  .register .icon-awesome-twitter-Qolay1:hover {
    transform: scale(0.9); 
  }
  
  .register .component-1-10-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 1200px;
    pointer-events: auto;
    position: absolute;
    top: 24px;
    transition: all 0.2s ease;
    width: 52px;
  }
  
  .register .component-1-10-Qolay1:hover {
    transform: scale(1.1);
  }
  
  .register .register-maRCSu {
    background-color: transparent;
    height: calc(100.00% + 2px);
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: calc(100.00% + 2px);
  }
  
  .register .the-city-colleg-031p-2126507000-Qolay1 {
    background-color: transparent;
    height: auto;
    left: 493px;
    letter-spacing: 0.00px;
    line-height: 15px;
    position: absolute;
    text-align: left;
    top: 715px;
    white-space: nowrap;
    width: auto;
  }
  
  .register .ccnylogo-Qolay1 {
    background-color: transparent;
    height: 58px;
    left: 430px;
    object-fit: cover;
    position: absolute;
    top: 709px;
    width: 58px;
  }
  
  .register .the-city-collegeof-new-york-Qolay1 {
    background-color: transparent;
    height: auto;
    left: 903px;
    letter-spacing: 0.00px;
    line-height: 37px;
    position: absolute;
    text-align: center;
    top: 82px;
    white-space: nowrap;
    width: auto;
  }
  
  .register .city-college-np-ush-left-city1-Qolay1 {
    background-color: transparent;
    height: 95px;
    left: 795px;
    object-fit: cover;
    position: absolute;
    top: 67px;
    width: 95px;
  }
  
  .register .rectangle-54-Qolay1 {
    background-color: var(--indigo);
    border-radius: 13px;
    height: 270px;
    left: 1099px;
    position: absolute;
    top: 301px;
    width: 161px;
  }
  
  .register .enroll-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1110px;
    letter-spacing: 0.00px;
    line-height: 30px;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    top: 318px;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: auto;
  }
  
  .register .enroll-Qolay1:hover {
    color: #F55353
  }
  
  .register .searchfor-classes-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1110px;
    letter-spacing: 0.00px;
    line-height: 30px;
    pointer-events: auto;
    position: absolute;
    text-align: left;
    top: 356px;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: auto;
  }
  
  .register .searchfor-classes-Qolay1:hover {
    color: #F55353
  }
  
  .register .apply-forgraduation-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1110px;
    letter-spacing: 0.00px;
    line-height: 30px;
    pointer-events: auto;
    position: absolute;
    text-align: left;
    top: 426px;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: auto;
  }
  
  .register .apply-forgraduation-Qolay1:hover {
    color: #F55353
  }
  
  .register .requesttranscript-Qolay1 {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1110px;
    letter-spacing: 0.00px;
    line-height: 30px;
    pointer-events: auto;
    position: absolute;
    text-align: left;
    top: 492px;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: auto;
  }
  
  .register .requesttranscript-Qolay1:hover {
    color: #F55353
  }
  
  .text-field-fill-leading-custom-Qolay1 .mdc-text-field {
    --mdc-theme-primary: #FFFFFF;
  }
  
  .text-field-fill-leading-custom-Qolay1 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6200ee;
  }
  