/* screen - base-profile */

.base-profile {
  background-color: var(--white);
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.base-profile .overlap-group {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.base-profile .rectangle-1 {
  background-color: var(--indigo);
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.base-profile .component-1-32 {
  cursor: pointer;
  height: 17px;
  left: 1138px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 43px;
}

.base-profile .component-1-32:hover {
  transform: scale(1.1);
}

.base-profile .log-in {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-profile .cuny-zero {
  left: 24px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.base-profile .text-field-fill-leading-custom {
  border-radius: 13px;
  height: 59px;
  left: 536px;
  position: absolute;
  top: 0;
  width: 207px;
}

.base-profile .component-1-33 {
  cursor: pointer;
  height: 21px;
  left: 193px;
  position: absolute;
  top: 19px;
  transition: all 0.2s ease;
  width: 48px;
}

.base-profile .component-1-33:hover {
  transform: scale(1.1);
}

.base-profile .place {
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.base-profile .component-1-34 {
  cursor: pointer;
  height: 17px;
  left: 259px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 40px;
}

.base-profile .component-1-34:hover {
  transform: scale(1.1);
}

.base-profile .about {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-profile .component-1-35 {
  cursor: pointer;
  height: 17px;
  left: 320px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 51px;
}

.base-profile .component-1-35:hover {
  transform: scale(1.1);
}

.base-profile .place-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-profile .component-1-38 {
  height: 17px;
  left: 1200px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 52px;
}

.base-page .register{
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-profile .component-1-38:hover {
  transform: scale(1.1);
}

.base-profile .line-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 1280px;
}

.base-profile .overlap-group3 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 709px;
  width: 1280px;
}

.base-profile .overlap-group1 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 1280px;
}

.base-profile .line-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 1280px;
}

.base-profile .address {
  left: 492px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.base-profile .icon-awesome-container {
  background-color: var(--white);
  height: 36px;
  left: 1130px;
  position: absolute;
  top: 20px;
  width: 149px;
}

.base-profile .icon-awesome-facebook {
  cursor: pointer;
  height: 23px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 25px;
}

.base-profile .icon-awesome-facebook:hover {
  transform: scale(0.9); 
}

.base-profile .icon-awesome-instagram {
  cursor: pointer;
  height: 26px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-profile .icon-awesome-instagram:hover {
  transform: scale(0.9); 
}

.base-profile .icon-awesome-linkedin-in {
  cursor: pointer;
  height: 22px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-profile .icon-awesome-linkedin-in:hover {
  transform: scale(0.9); 
}

.base-profile .icon-awesome-twitter {
  cursor: pointer;
  height: 19px;
  left: 104px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-profile .icon-awesome-twitter:hover {
  transform: scale(0.9); 
}

.base-profile .ccnylogo {
  height: 58px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 58px;
}

.base-profile .text-19 {
  left: 8px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 776px;
  white-space: nowrap;
}

.base-profile .text-20 {
  left: 24px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.base-profile .text-21 {
  left: 913px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 80px;
  white-space: nowrap;
}

.base-profile .city-college-np-ush-left-city1 {
  height: 95px;
  left: 805px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 95px;
}

.base-profile .rectangle-56 {
  background-color: #efefef;
  border: 2px solid var(--dove-gray);
  height: 328px;
  left: 24px;
  position: absolute;
  top: 367px;
  width: 169px;
}

.base-profile .ellipse-2 {
  background-color: #efefef;
  border: 2px solid var(--dove-gray);
  border-radius: 81.5px/78px;
  height: 156px;
  left: 24px;
  position: absolute;
  top: 195px;
  width: 163px;
}

.text-field-fill-leading-custom .mdc-text-field {
  --mdc-theme-primary: #FFFFFF;
}

.text-field-fill-leading-custom .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6200ee;
}
