/* screen - base-page */

.base-page {
  background-color: var(--white);
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.base-page .overlap-group {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.base-page .rectangle-1 {
  background-color: var(--indigo);
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.base-page .component-1-1 {
  cursor: pointer;
  height: 17px;
  left: 1138px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 43px;
}

.base-page .component-1-1:hover {
  transform: scale(1.1);
}

.base-page .log-in {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-page .cuny-zero {
  left: 24px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.base-page .text-field-fill-leading-custom {
  border-radius: 13px;
  height: 59px;
  left: 536px;
  position: absolute;
  top: 0;
  width: 207px;
}

.base-page .component-1-3 {
  cursor: pointer;
  height: 21px;
  left: 193px;
  position: absolute;
  top: 19px;
  transition: all 0.2s ease;
  width: 48px;
}

.base-page .component-1-3:hover {
  transform: scale(1.1);
}

.base-page .place {
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.base-page .component-1-4 {
  cursor: pointer;
  height: 17px;
  left: 259px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 40px;
}

.base-page .component-1-4:hover {
  transform: scale(1.1);
}

.base-page .about {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-page .component-1-5 {
  cursor: pointer;
  height: 17px;
  left: 320px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 51px;
}

.base-page .component-1-5:hover {
  transform: scale(1.1);
}

.base-page .place-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-page .component-1-10 {
  cursor: pointer;
  height: 17px;
  left: 1200px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 52px;
}

.base-page .component-1-10:hover {
  transform: scale(1.1);
}

.base-page .place-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.base-page .line-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 1280px;
}

.base-page .overlap-group4 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 709px;
  width: 1280px;
}

.base-page .overlap-group3 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 1280px;
}

.base-page .line-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 1280px;
}

.base-page .address {
  left: 492px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.base-page .icon-awesome-container {
  background-color: var(--white);
  height: 36px;
  left: 1130px;
  position: absolute;
  top: 20px;
  width: 149px;
}

.base-page .icon-awesome-facebook {
  cursor: pointer;
  height: 23px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 25px;
}

.base-page .icon-awesome-facebook:hover {
  transform: scale(0.9); 
}

.base-page .icon-awesome-instagram {
  cursor: pointer;
  height: 26px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-page .icon-awesome-instagram:hover {
  transform: scale(0.9); 
}

.base-page .icon-awesome-linkedin-in {
  cursor: pointer;
  height: 22px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-page .icon-awesome-linkedin-in:hover {
  transform: scale(0.9); 
}

.base-page .icon-awesome-twitter {
  cursor: pointer;
  height: 19px;
  left: 104px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 24px;
}

.base-page .icon-awesome-twitter:hover {
  transform: scale(0.9); 
}

.base-page .ccnylogo {
  height: 58px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 58px;
}

.base-page .text-6 {
  left: 8px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 776px;
  white-space: nowrap;
}

.base-page .text-7 {
  left: 24px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.base-page .text-8 {
  left: 903px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
}

.base-page .city-college-np-ush-left-city1 {
  height: 95px;
  left: 795px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 95px;
}

.base-page .overlap-group1 {
  background-color: var(--indigo);
  border-radius: 13px;
  height: 270px;
  left: 1099px;
  position: absolute;
  top: 301px;
  width: 161px;
}

.base-page .enroll {
  cursor: pointer;
  left: 11px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 16px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.base-page .enroll:hover {
  color: #F55353
}

.base-page .searchfor-classes {
  cursor: pointer;
  left: 10px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 52px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.base-page .searchfor-classes:hover {
  color: #F55353
}

.base-page .text-9 {
  cursor: pointer;
  left: 10px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 126px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.base-page .text-9:hover {
  color: #F55353
}

.base-page .requesttranscript {
  cursor: pointer;
  left: 10px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 192px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.base-page .requesttranscript:hover {
  color: #F55353
}

.text-field-fill-leading-custom .mdc-text-field {
  --mdc-theme-primary: #FFFFFF;
}

.text-field-fill-leading-custom .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6200ee;
}
