/* screen - login */

.login {
  background-color: var(--white);
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.login .group-container {
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.login .overlap-group6 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.login .overlap-group4 {
  height: 137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.login .rectangle-1 {
  background-color: var(--indigo);
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.login .cuny-zero {
  left: 24px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.login .text-field-fill-leading-custom {
  border-radius: 13px;
  height: 59px;
  left: 536px;
  position: absolute;
  top: 0;
  width: 207px;
}

.login .component-1-23 {
  cursor: pointer;
  height: 21px;
  left: 193px;
  position: absolute;
  top: 19px;
  transition: all 0.2s ease;
  width: 48px;
}

.login .component-1-23:hover {
  transform: scale(1.1);
}

.login .place {
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.login .component-1-24 {
  cursor: pointer;
  height: 17px;
  left: 259px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 40px;
}

.login .component-1-24:hover {
  transform: scale(1.1);
}

.login .about {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.login .component-1-25 {
  cursor: pointer;
  height: 17px;
  left: 320px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 51px;
}

.login .component-1-25:hover {
  transform: scale(1.1);
}

.login .place-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.login .component-1-28 {
  cursor: pointer;
  height: 4px;
  left: 1224px;
  position: absolute;
  top: 35px;
  transition: all 0.2s ease;
  width: 5px;
}

.login .component-1-28:hover {
  transform: scale(1.1);
}

.login .city-college-np-ush-left-city1 {
  height: 80px;
  left: 716px;
  object-fit: cover;
  position: absolute;
  top: 57px;
  width: 80px;
}

.login .component-1-31 {
  cursor: pointer;
  height: 17px;
  left: 1139px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 43px;
}

.login .component-1-31:hover {
  transform: scale(1.1);
}

.login .log-in {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.login .component-1-37 {
  cursor: pointer;
  height: 17px;
  left: 1200px;
  position: absolute;
  top: 24px;
  transition: all 0.2s ease;
  width: 52px;
}

.home .register{
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}


.login .component-1-37:hover {
  transform: scale(1.1);
}

.login .text-16 {
  left: 24px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.login .text-18 {
  left: 801px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 81px;
  white-space: nowrap;
}

.login .group-10 {
  cursor: pointer;
  height: 28px;
  left: 530px;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 69px;
}

.login .group-10:hover {
  transform: translate(0, -5px);
}

.login .overlap-group {
  border-radius: 100px;
  height: 28px;
  position: relative;
}

.login .rectangle-47 {
  background-color: var(--indigo);
  border-radius: 100px;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 69px;
}

.login .rectangle-47:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.login .component-1-26 {
  height: 25px;
  left: 8px;
  position: absolute;
  top: 1px;
  width: 54px;
}

.login .enroll {
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.login .group-8 {
  background-color: var(--indigo);
  border-radius: 100px;
  cursor: pointer;
  height: 27px;
  left: 619px;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 212px;
}

.login .group-8:hover {
  transform: translate(0, -5px);
}

.login .component-1-27 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  position: relative;
  width: 193px;
}

.login .text-17 {
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.login .group-9 {
  background-color: var(--indigo);
  border-radius: 100px;
  cursor: pointer;
  height: 27px;
  left: 1068px;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 196px;
}

.login .group-9:hover {
  transform: translate(0, -5px);
}

.login .component-1-29 {
  cursor: pointer;
  height: 24px;
  left: 10px;
  position: relative;
  width: 158px;
}

.login .search-for-classes {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.login .group-12 {
  background-color: var(--indigo);
  border-radius: 100px;
  cursor: pointer;
  height: 27px;
  left: 846px;
  position: absolute;
  top: 149px;
  transition: all 0.2s ease;
  width: 207px;
}

.login .group-12:hover {
  transform: translate(0, -5px);
}

.login .component-1-30 {
  cursor: pointer;
  height: 25px;
  left: 16px;
  position: relative;
  width: 173px;
}

.login .request-transcript {
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.login .overlap-group1 {
  height: 191px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 1280px;
}

.login .line-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1280px;
}

.login .line-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 144px;
  width: 1280px;
}

.login .widget-wrapper {
  height: 189px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1280px;
}

.login .cuny {
  object-fit: cover;
  width: 100%;
}

.login .overlap-group5 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 709px;
  width: 1280px;
}

.login .overlap-group3 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 1280px;
}

.login .line-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 52px;
  width: 1280px;
}

.login .address {
  left: 492px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.login .icon-awesome-container {
  background-color: var(--white);
  height: 36px;
  left: 1130px;
  position: absolute;
  top: 20px;
  width: 149px;
}

.login .icon-awesome-facebook {
  cursor: pointer;
  height: 23px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 25px;
}

.login .icon-awesome-facebook:hover {
  transform: scale(0.9); 
}

.login .icon-awesome-instagram {
  cursor: pointer;
  height: 26px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  transition: all 0.2s ease;
  width: 24px;
}

.login .icon-awesome-instagram:hover {
  transform: scale(0.9); 
}

.login .icon-awesome-linkedin-in {
  cursor: pointer;
  height: 22px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 24px;
}

.login .icon-awesome-linkedin-in:hover {
  transform: scale(0.9); 
}

.login .icon-awesome-twitter {
  cursor: pointer;
  height: 19px;
  left: 104px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 24px;
}

.login .icon-awesome-twitter:hover {
  transform: scale(0.9); 
}

.login .ccnylogo {
  height: 58px;
  left: 430px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 58px;
}

.login .text-15 {
  left: 8px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 776px;
  white-space: nowrap;
}

.text-field-fill-leading-custom .mdc-text-field {
  --mdc-theme-primary: #FFFFFF;
}

.text-field-fill-leading-custom .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #6200ee;
}
