:root { 
  --baby-powder: #fdfcfc;
  --black: #000000;
  --black-2: #030303;
  --black-3: #020202;
  --cararra: #ebebeb;
  --concrete: #f2f2f2;
  --dove-gray: #707070;
  --indigo: #546cd0;
  --mercury: #e6e6e6;
  --midnight-moss: #050505;
  --shady-lady: #aaaaaa;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 10px;
  --font-size-xl: 20px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 22px;
  --font-size-xxxxl: 36px;
 
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-bellmt-bold: "BellMT-Bold", Helvetica;
  --font-family-gillsans_mt-regular: "GillSans MT-Regular", Helvetica;
}
.arial-regular-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-baby-powder-15px {
  color: var(--baby-powder);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.bellmt-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-bellmt-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-shady-lady-10px {
  color: var(--shady-lady);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-black-20px {
  color: var(--black-2);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-baby-powder-27px {
  color: var(--baby-powder);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-baby-powder-18px {
  color: var(--baby-powder);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-black-36px {
  color: var(--black-3);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-black-37px {
  color: var(--black-2);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-midnight-moss-16px {
  color: var(--midnight-moss);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-black-15px-2 {
  color: var(--black-2);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.gillsansmt-regular-normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-gillsans_mt-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
