{% extends "general/base.html" %}
{%  block content %}
    <h1>About</h1>
    <p>
        BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶
        BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶
        BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶
        BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶
        BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶 BING CHILLING 🍦🥶
    </p>
{%  endblock content %}