{% extends "general/base.html" %}
{%  block content %}

    <div class="container-fluid mt-9">
        <h1 class="display-2">Home Page</h1>
        <br>
        <br>
        
        <div>

        </div>
        
        <br>
        <!-- Heading -->

        <div class="col-mt-9">
            <center> <h3 class="display-4">Courses Offered</h3> </center>
            <br>
            <ul class="list-group">
                {% for course in courses %}
                <li class="list-group-item list-group-item-light">
                    <h5> <b> {{ course.course_name }}: {{ course.title }}  </b> | Dept: {{ course.department }}      </h5>
                    
                </li>
               {% endfor %}
            </ul>
        </div>
        <br>
        <br>
        <div class="col-mt-9">
            <center> <h3 class="display-4">Best Rated Classes</h3> </center>
            <br>
            <div class="table-wrapper-scroll-y">

                <table class="table table-bordered table-striped">
                                   <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Instructor</th>
                                        <th scope="col">Average Rating</th>
                                        {% if request.user.is_superuser %}
                                        <th scope="col">Action</th>
                                        {% endif %}
                                      </tr>
                                  </thead>
                              {% for class in classes %}
                                  {% if class.course.average_rating > 3.5 %}
                                  <tbody>
                                      
                                      <tr>
                                        <th scope="row">{{ if.counter }}</th>
                                        <td>{{ class.course }}</td>
                                        <td>{{ class.course.instructor}}</td>
                                        <td>{{ class.course.average_rating}}</td>
                                       
                                      </tr>
                                      {% endif %}
                                      {% empty %}
                                     
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                        <span>No class available</span>
                                      </td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      </tr>
                                  </tbody>
              
                                  
                              {% endfor %}
                               
                               </table>
                          </div>
        </div>

        <br>
        <br>
        <div class="col-mt-9">
            
            <center> <h3 class="display-4">Honor Roll Students</h3> </center>
            <br>
            <div class="table-wrapper-scroll-y">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Semester</th>
                            
                        </tr>
                    </thead>
                    {% for student in students %}
                        <tbody>
                            <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ student.student }}</td>
                            <td>{{ student.level}}</td>
                            
                            </tr>
                            {% empty %}
                            
                            <span>No student available</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            
        </div>
    </div>

    <br>
    <br>
    <br>
    <!-- <a href="{% url 'courses:description'%}">Desc</a> -->

{%  endblock content %}
