<!DOCTYPE html>
<html>
  <head>

    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1280, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
    <script src="{% static 'js/profile.js' %}"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'globals.css' %}">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="profile" />
    <div class="container-center-horizontal">
      <div class="profile screen">
        <div class="rectangle-1-tkVWbB"></div>
        <img class="line-1-tkVWbB" src="{% static 'img/line-1-1@1x.png' %}" />
        <img class="line-2-tkVWbB" src="{% static 'img/line-2-1@1x.png' %}" />
        <a href="{% url 'home2'%}">
          <div class="component-1-32-tkVWbB smart-layers-pointers">
            <div class="log-in-VxZX8Q gillsans-regular-normal-baby-powder-15px">Log out</div>
          </div></a
        >
        <div class="cuny-zero-tkVWbB gillsans-regular-normal-baby-powder-27px">CUNY Zero</div>
        <p class="copyright-c-202-ity-of-new-york-tkVWbB gillsans-regular-normal-midnight-moss-16px">
          Copyright (c) 2021 | City University of New York
        </p>
        <div class="text-field-fill-leading-custom-tkVWbB">
          <label class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
            <span class="mdc-text-field__ripple"></span> <span class="mdc-floating-label" id="my-label-id">Search</span>
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button"
              >search</i
            >
            <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" />
            <span class="mdc-line-ripple"></span>
          </label>
          <script>
            new mdc.textField.MDCTextField(document.querySelector(".text-field-fill-leading-custom-tkVWbB .mdc-text-field"));
          </script>
        </div>
        <a href="{% url 'home2'%}">
          <div class="component-1-33-tkVWbB smart-layers-pointers">
            <div class="home-yLxSmr gillsans-regular-normal-baby-powder-18px">Home</div>
          </div></a
        ><a href="about.html">
          <div class="component-1-34-tkVWbB smart-layers-pointers">
            <div class="about-qNSEA6 gillsans-regular-normal-baby-powder-15px">About</div>
          </div></a
        ><a href="{% url 'contact'%}">
          <div class="component-1-35-tkVWbB smart-layers-pointers">
            <div class="contact-Te3riY gillsans-regular-normal-baby-powder-15px">Contact</div>
          </div></a
        >
        <div class="city-university-graduate-school-tkVWbB gillsans-regular-normal-black-36px">
          City University of New York<br />Graduate School
        </div>
        <div class="rectangle-2-tkVWbB"></div>
        <a href="https://facebook.com"
          ><img
            class="icon-awesome-facebook-tkVWbB smart-layers-pointers"
            src="{% static 'img/icon-awesome-facebook-1@1x.png' %}"
          /> </a
        ><a href="https://instagram.com"
          ><img
            class="icon-awesome-instagram-tkVWbB smart-layers-pointers"
            src="{% static 'img/icon-awesome-instagram-1@1x.png' %}"
          /> </a
        ><a href="https://linkedin.com"
          ><img
            class="icon-awesome-linkedin-in-tkVWbB smart-layers-pointers"
            src="{% static 'img/icon-awesome-linkedin-in-1@1x.png' %}"
          /> </a
        ><a href="https://twitter.com"
          ><img class="icon-awesome-twitter-tkVWbB smart-layers-pointers" src="{% static 'img/icon-awesome-twitter-1@1x.png' %}" />
        </a>
        <p class="the-city-colleg-031p-2126507000-tkVWbB gillsans-regular-normal-black-15px-2">
          The City College of New York <br />160 Convent Avenue New York, NY 10031<br />p: 212.650.7000
        </p>
        <img class="ccnylogo-tkVWbB" src="{% static 'img/ccnylogo-1@1x.png' %}" />
        <div class="the-city-college-of-new-york-tkVWbB gillsans-regular-normal-black-37px">
          The City College <br />of New York
        </div>
        <img class="city-college-np-ush-left-city1-tkVWbB" src="{% static 'img/citycollegenp-flushleftcity-1-1@1x.png' %}" />
        <div class="rectangle-54-tkVWbB border-1px-dove-gray"></div>
        <a href="https://#"><div class="enroll-tkVWbB smart-layers-pointers albayan-bold-white-25px">Enroll</div> </a
        ><a href="{% url 'searchclasses'%}"
          ><div class="searchfor-classes-tkVWbB smart-layers-pointers albayan-bold-white-25px">
            Search<br />for Classes
          </div> </a
        ><a href="https://#"
          ><div class="apply-forgraduation-tkVWbB smart-layers-pointers albayan-bold-white-25px">
            Apply for<br />Graduation
          </div> </a
        ><a href="https://#"
          ><div class="requesttranscript-tkVWbB smart-layers-pointers albayan-bold-white-25px">
            Request<br />Transcript
          </div>
        </a>
        <div class="rectangle-55-tkVWbB border-2px-dove-gray"></div>
        <div class="rectangle-56-tkVWbB border-2px-dove-gray"></div>
        <div class="ellipse-2-tkVWbB border-2px-dove-gray"></div>
        <a href="{% url 'register'%}">
          <div class="component-1-38-tkVWbB smart-layers-pointers">
            <img class="register-KOvS3e" src="{% static 'img/register-1@1x.png' %}" /></div
        ></a>
      </div>
    </div>
  </body>
</html>
