{% extends "general/profile_base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
    <h2>Change Password</h2>
    {% if user.new_user %}
        <p>You must change your password to complete you account activation.</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
        {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-info" type="submit">Save Changes</button>
        </div>
    </form>
{%  endblock content %}