{% extends 'general/profilepage.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid mt-9" style="width: 1050px; margin-left: -20px; margin-top: -550px;">
        <form class="" action="{{ u.get_suspend_url }}" method="post">
            {% csrf_token %}
            <h3>Are you sure you want to suspend
                {% if u.is_instructor %}
                    instructor
                {% elif u.is_student %}
                    student
                {% endif %}  id#: {{ u.id }} - {{ u.first_name }} {{ u.last_name }}?</h3>
            <a href="{{ u.get_absolute_url }}" class="btn" style="background-color: #dddddd">Cancel</a>
            <button type="submit" name="button" class="btn btn-danger">Suspend</button>
        </form>
    </div>
{% endblock %}