{% extends 'general/loginbase.html' %}
{% load crispy_forms_tags %}
{%  block content %}
    <section class="login-clean" style="background: var(--bs-white); width: 350px; margin-left: 550px; margin-top: 20px;">
        <form method="post">
            {% csrf_token %}
            <h2 class="visually-hidden">Login Form</h2>
            {{form|crispy}}
            <div class="mb-3"><button class="btn btn-primary d-block w-100" style="background-color: blue;" type="submit">Log In</button></div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't Have An Account?
                    <a class="ml-2" href="{% url 'register_student' %}">Sign Up as a Student</a>
                    <a class="ml-2" href="{% url 'register_instructor' %}">Sign Up as an Instructor</a>
                </small>
            </div>
        </form>
    </section>
{%  endblock %}