{% extends "general/profile_base.html" %}
{% load crispy_forms_tags %}


{%  block content %}
{#<<<<<<< HEAD#}
    <div class="content-section">
        <h1>{{ user.first_name }} {{ user.m_initial }} {{ user.last_name }}</h1>

        <p> {% if user.is_student %}
                This is a Student
            {% endif %}
            {% if user.is_instructor %}
                This is an Instructor
            {% endif %}
            {% if user.is_registrar %}
                This is a Registrar
            {% endif %}
        </p>

        <h3>Contact Information</h3>
        <p><b>Email:</b> {{ user.email }}</p>
        <p><b>Phone Number:</b> {{ user.phone_number }}</p>
        <p><b>Date of Birth:</b> {{ user.birth_date }}</p>

    </div>
{#=======#}
    <div class="container-fluid mt-9">
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h3 class="mb-2 mb-sm-0 pt-1">
                    <a href="/">Home Page</a>
                    <span>/</span>
                    <span> Profile Page</span>
                </h3>
            </div>

        </div>

        <div >
            <h3>{{ user.first_name }} {{ user.m_initial }} {{ user.last_name }}</h3>

            <p> {% if user.is_student %}
                    -> Student
                {% endif %}
                {% if user.is_instructor %}
                    -> Instructor
                {% endif %}
             </p>
        </div>

        <div>
           <br>
            <div class="col-mt-9">
                <center> <h3>Contact Information</h3> </center>
                <br>
                <ul class="list-group">
                    
                    <li class="list-group-item list-group-item-light">
                        <h5> <b> Email : </b>  {{ user.email }}  </h5>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <h5> <b> Phone Number : </b>  {{ user.phone_number }}  </h5>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <h5> <b> DOB : </b>  {{ user.birth_date }}  </h5>
                    </li>

                </ul>
                <br>
                <br>

                {% if user.is_instructor %}
                    
                    <center> <h3>Your Classes</h3> </center>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Course</th>
                                <th scope="col">Days-Time</th>
                                <th scope="col">Duration</th>


                            </tr>
                        </thead>

                        {% for course in courses %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ course.course }}</td>
                                <td>{{ course.days }}: {{ course.start_time }} - {{ course.end_time }}</td>
                                <td>{{course.start_date}} -  {{course.end_date}}</td>
                            </tr>
                        </tbody>
                        {% empty %}
                        <p>No classes have been assigned to you yet!</p>

                        {% endfor %}
                        

                    </table>
                    

                {% endif %}

                {% if user.is_student %}
                    
                    <center> <h3>Your Classes</h3> </center>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Course</th>
                                <th scope="col">Days-Time</th>
                                <th scope="col">Duration</th>


                            </tr>
                        </thead>

                        {% for course in taken_course %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ course.classes }}</td>
                                <td>{{ course.classes.days_and_time }}</td>
                                <td>{{course.classes.start_date}} -  {{course.classes.end_date}}</td>
                            </tr>
                        </tbody>
                        {% empty %}
                        <p>You have not enrolled for any classes yet!</p>

                        {% endfor %}
                        

                    </table>
                    

                {% endif %}
            </div>

        </div>
    </div>

{#>>>>>>> origin/Last_Saves#}
{%  endblock content %}