{% extends "general/profilepage.html" %}
{% load crispy_forms_tags %}
{%  block content %}
<div class="container-fluid mt-9" style="width: 1050px; margin-left: -20px; margin-top: -600px;">
    <h2>Add Class</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
        {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>
</div>  
{%  endblock content %}