{% extends "general/profilepage.html" %}
{%  block content %}

    <style type="text/css">
        .table-wrapper-scroll-y {
    display: block;
    max-height: 750px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    #sidebar{
        position: absolute;
        top:0; left: 0;
        width: 50px;
        height: 1000px;
        background: transparent;
    }

    </style>
 <div id="sidebar"></div>
<div class="container-fluid mt-9" style="width: 950px; margin-left: 10px; margin-top: -350px;">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h3 class="mb-2 mb-sm-0 pt-1">
                    <a href="{% url 'profile' %}">Profile Page</a>
                    <span>/</span>
                    <span>Classes' List</span>
{#<<<<<<< HEAD#}
                </h6>
                {% if user.is_registrar or user.is_superuser %}
                <form action={% url 'courses:add_class' %}>
                    <input type="submit" value="Add Class" />
                </form>
                {% endif %}
{#=======#}
                </h3>
{#>>>>>>> origin/Last_Saves#}
            </div>

        </div>

            <!--Card content-->
    <div class="table-wrapper-scroll-y">

    <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Days-Time</th>
                    <th scope="col">Information</th>
                    
                    </tr>
                </thead>
                
            {% for x, class in class_dict.items %}
                <tbody>
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ class.course.course_name }}</td>
                    <td>{{ class.class_id }}</td>
                    <td>{{ class.course.title }}</td>
                    <td>{{ class.instructor }}</td>
                    <td>{{class.days}} : {{class.start_time}} - {{class.end_time}} </td>
                    <td> {{class.year}} {{class.semester}} Term: 
                        {{class.start_date}} -  {{class.end_date}} <br>
                        Seats: {{x}}/{{class.full_capacity}} <br>
                        Credit: {{class.credit}}.0 
            
                    </td>
                   
                    </tr>
                    {% empty %}
                    <tr>
                    <td></td>
                    <td></td>
                    <td>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
    <br>



{%  endblock content %}