{% extends "general/profilepage.html" %}
{%  block content %}


<div class="container-fluid mt-9" style="width: 950px; margin-left: -20px; margin-top: -350px;">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h3 class="mb-2 mb-sm-0 pt-1">
                <a href="{% url 'profile' %}">Profile Page</a>
                <span>/</span>
                <span>Courses Offered</span>

            </h5>
            {% if user.is_registrart or user.is_superuser %}
            <form action={% url 'courses:add_course' %}>
                <input type="submit" value="Add Course" class="btn btn-primary" />
            </form>
            {% endif %}

            </h3>

        </div>
<br>
    </div>
   
   <br>

    <ul>
        {% for course in courses %}
        <li>
            <p> <b> {{course.title}} </b> </p> 
            <p> {{course.description}}  </p>
        </li>
        {% endfor %}
    </ul>

</div>
{%  endblock content %}
