{% extends "general/profilepage.html" %}
{% load crispy_forms_tags %}
{%  block content %}
    <style type="text/css">
        .table-wrapper-scroll-y {
    display: block;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    </style>
<div class="content-section" style="width: 700px; margin-left: 100px; margin-top: -600px;padding: 20px;">
<div class="">
    <div class="card-body d-sm-flex justify-content-between">
        <h3>Issued Warnings</h3>
        <form class="" action="{% url 'issue_warning' %}">
            <button type="submit" name="button" class="btn btn-warning" style="color: white">Issue Warning</button>
        </form>
    </div>
            <!--Card content-->
    <div class="table-wrapper-scroll-y">

    <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">Date Issued</th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in warnings %}
                        <tr>
                            <th scope="row">{{ w.id }}</th>
                            <td><a href="{{ w.id }}">{{ w.description }}</a></td>
                            <td>{{ w.user.first_name }} {{ w.user.last_name }}</td>
                            <td>{{ w.issue_date }}</td>
                        </tr>
                    {% empty %}
                        <tr><td>No warnings have been issued</td><td></td><td></td><td></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%  endblock content %}