{% extends "general/base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
<style>
    #sidebar{
        position: absolute;
        top:0; left: 0;
        width: 50px;
        height: 1000px;
        background: transparent;
    }
    
    </style>
    <div id="sidebar"></div>
    <div class="content-section" style="width: 950px; margin-left: 50px; margin-top: 0px;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Apply for Graduation</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button  class="btn btn-outline-info" type="submit">Log In</button>
            </div>
        </form>
        <p>
            <b>WARNING:</b> Before applying for graduation, you must fulfill the requirements for graduation. If you have not
            taken a total of <strong><u>8 classes</u></strong> including the classes you are currently taking, you will receive a warning for
            reckless graduation application. After submitting, a registrar will review your academic record and notify
            you of their decision regarding your graduation.
        </p>
    </div>
{%  endblock content %}
